/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: clamp(375px, 48.61%, 700px);
  margin: 0 auto;
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 100%;
  margin: 100px 0;
  border: 2px solid var(--main-text-color);
  font-family: var(--accent-font), Fantasy;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.logo {
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: var(--logo__font-line-clamp);
  line-height: var(--logo__font-line-clamp);
}

.header-title {
  padding-top: 20px;
  padding-bottom: 17px;
  font-size: var(--header-title__font-line-clamp);
  line-height: var(--header-title__font-line-clamp);
}

.theme-menu__button {
  position: relative;
  display: flex;
  gap: 10px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  color: inherit;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity var(--smooth-transition);
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:hover {
  transition: color 0.5s ease;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  top: 15px;
  display: block;
  width: 87%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--main-color);
  transition: transform 1s ease;
  transform: scale(0);
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 13px;
  padding: 9px 15px 25px 35px;
}

.main {
  margin-top: 100px;
}

.card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 2px solid var(--main-text-color);
  background-color: var(--background-color);
}

.card-title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 21.78px;
  text-align: left;
  font-variation-settings: var(--card-title-font-weight);
}

.card-text {
  padding: 26px;
}

.card__paragraph:not(:last-of-type) {
  padding-bottom: 27px;
}

.card-picture img {
  display: block;
  width: 100%;
  min-height: 100%;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.button {
  border: var(--main-border);
  color: var(--main-text-color);
  font-size: 14px;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  outline: none;
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: none;
  outline: none;
}

.like-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding-right: 23px;
  padding-bottom: 23px;
}

.card__like-button {
  min-width: 130px;
  padding: 11px 0;
}

.footer {
  margin: 52px 0 103px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 340px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: var(--background-color);
}

.pop-up-title {
  padding-right: 10px;
  color: var(--main-text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.card-lable {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  color: var(--stroke-color);
  font-family: var(--accent-font), Fantasy;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-shadow: 1px 0 #000;
  filter: opacity(50%);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card-lable {
    text-shadow: none;
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
  }
}

.labled-picture {
  position: relative;
}

.save-button .floppy-img {
  display: block;
  width: 21px;
  height: 21px;
  object-fit: cover;
}

.close-button {
  width: 100%;
  padding: 10px 17px;
}

.close-form {
  grid-column: span 2;
}

.pop-up-window[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 29px;
  column-gap: 20px;
  width: 357px;
  height: 193px;
  border: var(--main-border);
  padding: 30px;
  background-color: var(--background-color);
}

.pop-up-window .floppy-img {
  width: 39px;
  height: 39px;
  color: var(--main-color);
}

/* брейкпоинты */

@media (width<=320px) {
  .logo {
    font-size: clamp(2.6875rem, 2.2946rem + 1.9643vw, 4.0625rem);
  }

  .header-title {
    font-size: clamp(0.75rem, 0.5536rem + 0.9821vw, 1.4375rem);
  }
  .save-button {
    width: 306px;
  }
}

@media (width<=375px) {
  .save-button {
    flex-direction: column;
    width: 310px;
  }

  .save-button .floppy-img {
    width: 28px;
    height: 28px;
  }

  .card-lable {
    right: 11px;
  }
}

/* фильтры для каритнок */

.free-track-img {
  filter: hue-rotate (90deg) blur(1px);
}

.origin-img {
  filter: grayscale(40%);
}

.doubts-img {
  filter: sepia(50%);
}

.pp-img {
  filter: contrast(140%);
}

.care-img {
  filter: brightness(110%);
}

.strategy-img {
  filter: drop-shadow(0 0 0.5rem blue);
}

.concentration-img {
  filter: invert(95%);
}

.nowadays-img {
  filter: saturate(80%);
}
